body{
    background-color: paleturquoise;
}

h1 {
    text-align: center;
}

p{
    font-size: 180%;
    text-align: center;
}

#jkTitle {
    color: darkmagenta;
}

#vTitle {
    color: grey;
}

#jiminTitle {
    color: blue;
}

#rmTitle{
    color: purple;
}

#jhopeTitle {
    color: green;
}

#jinTitle{
    color: pink;
}

#sugaTitle {
    color: darkviolet;
}

