body{
    background-color: peachpuff;
}

p {
    font-size: 180%;
    text-align: center;
}

#title {
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
}

#containerA {
    position: relative;
    display: flex;
    width: 100%;
}
 
#jkImage, #vImage, #jiminImage, #rmImage, #jhopeImage, #jinImage, #sugaImage {
    width: 190px;
    height: 300px;
    margin: 13px;
    align-content: center;
}
   


/* 
#jk, #v, #jimin, #rm, #jhope, #jin, #suga{
    margin-left:10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    background-color: white;
} */

/* #title {
    background-color: white;
    width: 50%;
    /* margin-left: 25%; */
} */

#jkTitle {
    color: darkmagenta;
}

#vTitle {
    color: grey;
}

#jiminTitle {
    color: blue;
}

#rmTitle{
    color: purple;
}

#jhopeTitle {
    color: green;
}

#jinTitle{
    color: pink;
}

#sugaTitle {
    color: darkviolet;
}
 
